@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
}

body {
  font-family: 'Poppins';
  width: 100%;
  height: 100vh;
}

.hero {
  height: 100%;
  width: 100%;
}

.intro-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.intro-wrapper h1 {
  font-size: 5rem;
  letter-spacing: .05rem;
  font-weight: 600;
}

.intro-wrapper .description {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  font-weight: 300;
}

.intro-wrapper svg {
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
}

h1, .description {
  color: white;
}

.intro-wrapper video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -10;
}
